.navigation .zoomin,
.navigation .zoomout,
.navigation .pan,
.navigation .previous,
.navigation .next
{
    display: inline-block;

    width: 48px;
    height: 48px;
    margin: 4px 4px;
    padding: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    border: 1px solid #57585a;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1.0);
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
         -o-border-radius: 5px;
}

.navigation .zoomin:hover,
.navigation .zoomout:hover,
.navigation .pan:hover,
.navigation .previous:hover,
.navigation .next:hover
{
    background-color: #eee;
    background-color: rgba(238, 238, 238, 1.0);
}

.navigation .zoomin:active,
.navigation .zoomout:active,
.navigation .pan:active,
.navigation .previous:active,
.navigation .next:active
{
    background-color: #ccc;
    background-color: rgba(102, 102, 102, 1.0);
}

.navigation .activated
{
    background-color: #ccc;
    background-color: rgba(102, 102, 102, 1.0);
}

.navigation .zoomin
{
    background-image: url(../images/zoomin.png);
}

.navigation .zoomout
{
    background-image: url(../images/zoomout.png);
}

.navigation .pan
{
    background-image: url(../images/pan.png);
}

.navigation .previous
{
    background-image: url(../images/leftarrow.png);
}

.navigation .next
{
    background-image: url(../images/rightarrow.png);
}
