<div class="${css.navigation}" role="presentation">
  <div data-dojo-attach-point="zoominNode"
  title="${_i18n.navigation.zoomin.title}"
  role="button" class="${css.zoomin}"></div>

  <div data-dojo-attach-point="zoomoutNode"
  title="${_i18n.navigation.zoomout.title}"
  role="button" class="${css.zoomout}"></div>

  <div data-dojo-attach-point="panNode"
  title="${_i18n.navigation.pan.title}"
  role="button" class="${css.pan}"></div>

  <div data-dojo-attach-point="prevNode"
  title="${_i18n.navigation.previous.title}"
  role="button" class="${css.previous}"></div>

  <div data-dojo-attach-point="nextNode"
  title="${_i18n.navigation.next.title}"
  role="button" class="${css.next}"></div>
</div>
